@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

code {
    background: #fff1;
    font-family: 'Inconsolata', monospace;
    padding: .2em .4em;
}

#header {
    z-index: 4;
    position: fixed;
}

.links {
    background-color: #4f5c88;
    background-image: linear-gradient(to bottom, #0003, transparent);
    box-shadow: 0 0 32px #0003;
    font-size: 17px;
    font-weight: 300;
}

.links > a {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links > a:hover {
    background: #ffffff06;
    color: #adf;
}

.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}

#header {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.links {
    align-items: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

#lamb {
    width: 50px;
    height: 50px;
}


body {
    align-content: center;
    background-image: url("https://cutewallpaper.org/21/minimalist-desktop-wallpaper-1920x1080/Minimalist-Wallpaper-HD-2019-Live-Wallpaper-HD.jpg");
    background-attachment: fixed;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-size: auto;
}

form {
    margin: 120px auto 0 auto;
    width: 500px;
    height: 100px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-content: center;
    border: #0f0f0f;
}

.select {
    z-index: 7;
    background-color: white;
    display: inline-block;
    max-width: 248px;
    width: 100%;
    position: relative;
    line-height: 40px;
}

select {
appearance: none;
background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}



.btn {
    background-color: #4f5c88;
    border: none;
    color: #9ab;
    margin: 10px auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 500px;
}

.btn > button {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.btn > button:hover {
    color: #adf;
}

#resultsList {
    margin-top: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

#resultsList a {
    width: 100%;
    color: #9cb0d1;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#resultsList a:link, #resultsList a:visited {
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 0;
    transition: 0.2s;
}

#resultsList a:hover, #resultsList a:active {
    transition-delay: 0s;
    background-color: #9cb0d1;
    color: white;
}